:root {
  /* Paleta de Cores do Projeto - Loja Eletrodomésticos */
  --primary-blue: #2563EB;
  --dark-blue: #1E3A8A;
  --white: #FFFFFF;
  --light-gray: #F3F4F6;
  --text-gray: #374151;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--light-gray);
  color: var(--text-gray);
}

#root {
  width: 100%;
  min-height: 100vh;
}
